body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h2 {
  font-size: 3em;
  font-family: "Unna", serif;
}

ul {
  padding: 0px;
  list-style: none;
  margin: 0rem;
}

li {
  width: 250px;
  margin: 0px;
  padding: 0px;
}

#apptitle {
  margin: 0;
  padding-top: 10px;
  align-items: center center;
  font-family: "Unna", serif;
  font-size: 2em;
}

#iconic:hover {
  cursor: pointer;
}

.bi {
  align-items: center center;
}

.bi:hover {
  color: #6ea5c6;
}

.dropdown {
  padding-top: 0.09em;
  outline: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2px;
  margin: 0;
  padding: 0;
}

.dropdown-content li {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown:focus .dropdown-content {
  display: block;
}

.droplinks {
  text-decoration: none;
  font-size: 18px;
  color: #494197;
  padding: 20px;
}

.dropdown-content li:hover {
  background-color: #1d1e22;
  color: lightblue;
  border-radius: 2px;
}
.droplinks:hover {
  text-decoration: none;
  color: lightblue;
}

#bootstrap-override {
  font-family: Helvetica, sans-serif;
}

#bootstrap-override a svg {
  color: white;
}

#bootstrap-override a .bi:hover {
  color: #6ea5c6;
}

/* SLIDER OVERLAY */

.map-overlay {
  position: absolute;
  width: 30%;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 9999;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}

@media screen and (min-aspect-ratio: 4/5) {
  #app {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(260px, 1fr);
    height: 100vh;
    width: auto;
  }

  .container-left {
    width: auto;
    height: 100%;
  }

  .header {
    background-color: black;
    color: white;
    height: 14vh;
    display: grid;
    width: 100%;
    padding: 1em;
  }

  .header h2 {
    padding: 30px 5px 10px 5px;
  }

  #encapsulatingcontainer {
    display: grid;
    align-items: start;
    grid-template-columns: 70% 5% 5%;
    grid-auto-flow: column;
    grid-auto-columns: minmax(260px, 1fr);
    align-self: center;
    justify-content: start;
    padding: 1em;
  }

  #iconic {
    font-size: calc(0.5rem + 1.85vw);
    padding-top: 10px;
  }

  .description {
    padding: 50px 50px;
  }

  .infopanel {
    width: auto;
    height: 86vh;
  }

  .form-control {
    width: 50%;
  }

  .top {
    display: grid;
    align-items: center;
    grid-template-columns: 60% 40%;
    grid-auto-flow: column;
    grid-auto-columns: minmax(260px, 1fr);
    height: 43vh;
  }

  .inputs {
    padding: 20px;
  }

  .inputs:children {
    align-items: right;
  }

  #summary {
    padding: 4em;
    display: grid;
    align-items: center center;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto;
    height: 43vh;
    background-color: #f5f4f4;
  }

  #stats {
    grid-column-start: 1;
  }

  #linechart {
    grid-column-start: 2;
  }

  .legendwrapper {
    top: 0;
    right: 0;
    padding: 10px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 2px;
    margin: 2px;
  }

  .legend {
    padding: 5px 15px;
  }

  #map {
    background-color: cadetblue;
    width: auto;
    height: 100%;
  }
}

/* mobile media query */

@media screen and (max-aspect-ratio: 4/5) {
  #app {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(900px, 1fr);
    grid-template-rows: 50% 50%;
    width: auto;
  }

  .container-left {
    width: auto;
    height: 50vh;
    grid-row-start: 1;
  }

  .header {
    background-color: black;
    color: white;
    width: auto;
    height: 10vh;
    padding: 5px;
    display: grid;
    align-items: start;
    grid-template-columns: 98% 1% 1%;
    grid-auto-flow: column;
    grid-auto-columns: minmax(260px, 1fr);
    width: 100%;
    padding: 1em;
    font-size: 1.65em;
  }

  .header h2 {
    padding: 30px 5px 10px 5px;
  }

  #encapsulatingcontainer {
    display: grid;
    align-items: start;
    grid-template-columns: 80% 10% 10%;
    grid-auto-flow: column;
    grid-auto-columns: 80% 10% 10%;
    align-self: center;
    padding: 7px 10px 15px 10px;
  }

  #iconic {
    font-size: 2em;
    padding-top: 10px;
  }

  .description {
    padding: 50px;
    width: auto;
    font-size: 18px;
  }

  .infopanel {
    width: auto;
    height: 40vh;
    font-size: 1.5em;
  }

  .top {
    display: grid;
    align-items: center;
    grid-template-columns: 65% 35%;
    grid-auto-flow: column;
    grid-auto-columns: minmax(260px, 1fr);
    height: 15vh;
  }

  .inputs {
    padding: 20px;
  }

  .inputs:children {
    align-items: right;
  }

  #summary {
    padding: 20px;
    display: grid;
    align-items: center center;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    height: 25vh;
    background-color: #f5f4f4;
  }

  #stats {
    margin: 10px;
    padding: 5px;
    font-size: -0.25em;
  }

  .legendwrapper {
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 2px;
    margin: 2px;
  }

  .legend {
    padding: 5px 15px;
  }

  #map {
    width: auto;
    height: 50vh;
    background-color: crimson;
    grid-row-start: 2;
  }
}
